{% extends 'base.html' %}
{% block title %}UWU{% endblock title %}
{% block body %}
<p style='background-color:rgb(49, 48, 48);'> <!-- AHEGAO -->
    <marquee direction='right' scrollamount='40' style="background-color:black;color:white">⠄⠄⠄⢰⣧⣼⣯⠄⣸⣠⣶⣶⣦⣾⠄⠄⠄⠄⡀⠄⢀⣿⣿⠄⠄⠄⢸⡇⠄⠄<br></marquee>
    <marquee direction='right' scrollamount='40' style="background-color:orange;color:white">⠄⠄⠄⣾⣿⠿⠿⠶⠿⢿⣿⣿⣿⣿⣦⣤⣄⢀⡅⢠⣾⣛⡉⠄⠄⠄⠸⢀⣿⠄<br></marquee>
    <marquee direction='right' scrollamount='40' style="background-color:orange;color:white">⠄⠄⢀⡋⣡⣴⣶⣶⡀⠄⠄⠙⢿⣿⣿⣿⣿⣿⣴⣿⣿⣿⢃⣤⣄⣀⣥⣿⣿⠄<br></marquee>
    <marquee direction='right' scrollamount='40' style="background-color:orange;color:white">⠄⠄⢸⣇⠻⣿⣿⣿⣧⣀⢀⣠⡌⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠿⠿⣿⣿⣿⠄<br></marquee>
    <marquee direction='right' scrollamount='40' style="background-color:black;color:white">⠄⢀⢸⣿⣷⣤⣤⣤⣬⣙⣛⢿⣿⣿⣿⣿⣿⣿⡿⣿⣿⡍⠄⠄⢀⣤⣄⠉⠋⣰<br></marquee>
    <marquee direction='right' scrollamount='40' style="background-color:black;color:white">⠄⣼⣖⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⣿⣿⣿⣿⣿⢇⣿⣿⡷⠶⠶⢿⣿⣿⠇⢀⣤<br></marquee>
    <marquee direction='right' scrollamount='40' style="background-color:black;color:white">⠘⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣽⣿<a style="background-color:blue;color:white">⣿⣿</a>⡇⣿⣿⣿⣿⣿⣿⣷⣶⣥⣴⣿⡗<br></marquee>
    <marquee direction='right' scrollamount='40' style="background-color:black;color:white">⢀⠈⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿<a style="background-color:blue;color:white">⣿⣿⣿⣿</a>⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠄<br></marquee>
    <marquee direction='right' scrollamount='40' style="background-color:black;color:white">⢸⣿⣦⣌⣛⣻⣿⣿⣧⠙⠛⠛⡭⠅⠒<a style="background-color:blue;color:white">⠦⠭</a>⣭⡻⣿⣿⣿⣿⣿⣿⣿⣿⡿⠃⠄<br></marquee>
    <marquee direction='right' scrollamount='40' style="background-color:black;color:white">⠘⣿⣿⣿⣿⣿⣿⣿⣿⡆⠄⠄⠄⠄⠄⠄⠄⠄⠹⠈⢋⣽⣿⣿⣿⣿⣵⣾⠃⠄<br></marquee>
    <marquee direction='right' scrollamount='40' style="background-color:black;color:white">⠄⠘⣿⣿⣿⣿⣿⣿⣿⣿⠄⣴⣿⣶⣄⠄⣴⣶⠄⢀⣾⣿⣿⣿⣿⣿⣿⠃⠄⠄<br></marquee>
    <marquee direction='right' scrollamount='40' style="background-color:green;color:white">⠄⠄⠈⠻⣿⣿⣿⣿⣿⣿⡄⢻⣿⣿⣿⠄⣿⣿⡀⣾⣿⣿⣿⣿⣛⠛⠁⠄⠄⠄<br></marquee>
    <marquee direction='right' scrollamount='40' style="background-color:green;color:white">⠄⠄⠄⠄⠈⠛⢿⣿⣿⣿⠁⠞⢿⣿⣿⡄⢿⣿⡇⣸⣿⣿⠿⠛⠁⠄⠄⠄⠄⠄<br></marquee>
    <marquee direction='right' scrollamount='40' style="background-color:green;color:white">⠄⠄⠄⠄⠄⠄⠄⠉⠻⣿⣿⣾⣦⡙⠻⣷⣾⣿⠃⠿⠋⠁⠄⠄⠄⠄⠄⢀⣠⣴<br></marquee>
    <marquee direction='right' scrollamount='40' style="background-color:black;color:white">⣿⣿⣿⣶⣶⣮⣥⣒⠲⢮⣝⡿⣿⣿⡆⣿⡿⠃⠄⠄⠄⠄⠄⠄⠄⣠⣴⣿⣿⣿<br></marquee>
</p>
{% endblock body %}